body{
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
}
.h1_font_size{
    font-size: 50px;
}
.flexiable_container{
    display: flex;
}
.half_widht{
    width: 50%;
    padding-left: 7%;
    
}
.half_widht img{
    width: 60%;

}
.first_heading{
    margin-top: 110px;
}
.mission {
    color: #fe6f27;
}
.focused{
    color: #2f2f2f;
}
#first_heading_border{
   border-left: 7px solid #fe6f27;
}
#first_heading_border h1{
    margin-left: 10px;
}
.first_heading a{
    text-decoration: none;
    background-color: #2f2f2f;
    padding: 10px 40px;
    color: #fe6f27;
    border-radius: 7px;
    font-weight: 700;

}
.my_mission{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #2f2f2f;
}
.year{
    color: #fe6f27;
}
.misson_vission_goals{
    margin-top: 60px;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 110px;
}
#mission_one{
    background-color: lightcoral;
    width: 50%;
    border-radius: 15px;
    padding-left: 2%; 
    padding-right: 2%; 
    margin-right: 4%;
}
#mission_two{
    background-color: lightcyan;
    width: 50%;
    border-radius: 15px;
    padding-left: 2%; 
    padding-right: 2%; 
    margin-right: 4%;
}
#mission_three{
    background-color: lightgreen;
    width: 50%;
    border-radius: 15px;
    padding-left: 2%; 
    padding-right: 2%; 
    margin-right: 4%;
}
.develop{
    color: #2f2f2f;
}
.limit{
    color: #fe6f27;
}
.develop_area a{
    text-decoration: none;
    background-color: #2f2f2f;
    padding: 10px 40px;
    color: #fe6f27;
    border-radius: 7px;
    font-weight: 700;
}
.global {
    color: #fe6f27;
}
.know{
    color: #2f2f2f;
}
.global_heading{
    margin-bottom: 110px;
    margin-top: 110px;
}
.global_heading img {
    margin-left: 15%;
}
.global_heading a{
    text-decoration: none;
    background-color: #2f2f2f;
    padding: 10px 40px;
    color: #fe6f27;
    border-radius: 7px;
    font-weight: 700;
}
.contact_area{
    margin-bottom: 100px;
}
.contact_area img{
    margin-top: 40px;
}
.contact_area a{
    text-decoration: none;
    background-color: #2f2f2f;
    padding: 10px 40px;
    color: #fe6f27;
    border-radius: 7px;
    font-weight: 700;
    margin-left: 19%;
    
}
.get_touch{
    text-align: center;
    font-size: 50px;
}
.touch{
    color: #fe6f27;
}
.shy{
    font-size: 40px;
}
.tomato_color{
    color: #fe6f27;
}
.p_font{
    font-size: 18px;
}
.footer_area{
    text-align: center;
    background-color: #2f2f2f;
    padding: 15px;
    
}
.footer_area h1{
    color: white;
    font-size: 40px;
}
.footer_year{
    color: #fe6f27;
}
.footer_text{
    color: white;
}